{% extends 'page/navigation.html' %}

{% block content %}

	<link rel="stylesheet" href="{% static 'css/slidercheck.css' %}" >


  	<style type="text/css">
  		.row{
  			margin: 10px;
  		}
  	</style>

  	<!--
	<form method="POST">{% csrf_token %}
	<input type="text" name="test">
	<button type="submit">Submit</button>
	-->
	<form method="POST">{% csrf_token %}

	<div class="content" style="color:#fff; background-color: #ccc; padding: 20px">
	  	<h2 style="margin: 0px; text-align: center;">Add</h2>
	  	<div class="row">
	  		<div class="col-sm-3">
				<input type="text" class="form-control" id="inputSuccess" name="Class" placeholder="Class" required >
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputSuccess" name="subject" placeholder="Subject" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputSuccess" name="lesson" placeholder="Lesson" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputSuccess" name="chapter" placeholder="Chapter" required>
			</div>
	  	</div>
    	<div class="row">
    		<div class="col-sm-12">
    			<textarea class="form-control" rows="10" id="comment" name="detail" placeholder="Detail" required></textarea>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-2">
    			<button class="btn btn-default" style="width: 100%">Back</button>
    		</div>
    		<div class="col-sm-7"></div>
    		<div class="col-sm-1">
    			<!--<label><input type="checkbox" name="Public" value="True" checked="checked">Public</label>-->
				<label class="switch"><input type="checkbox"  id="toggle" value="OFF" style="color:blue" onclick="toggle(this);">
			        <div class="slider round" ></div></label>
				<script type="text/javascript">
					function toggle(button)
				{
				  if(document.getElementById("toggle").value=="OFF")
				  {
				   document.getElementById("toggle").value="ON";
				   button = 1
				  }
				  else if(document.getElementById("toggle").value=="ON")
				  {
				   document.getElementById("toggle").value="OFF";
				   button = 0
				}
				   console.log(button);
				}
				</script>
    		</div>
    		<div class="col-sm-2">
    			<button class="btn btn-primary" style="width: 100%" type="submit">Save</button>
    		</div>
    	</div>
    </div>
    </form>

{% endblock %}
