{% extends 'page/navigation.html' %}

{% block content %}

  	<style type="text/css">
  		.row{
  			margin: 10px;
  		}
  	</style>

  	<!--
	<form method="POST">{% csrf_token %}
	<input type="text" name="test">
	<button type="submit">Submit</button>
	-->

	<div class="content text-center" style="color:#fff; background-color: #ccc; padding: 20px">
	  <h2 style="margin: 0px">Add</h2>
	</div>

	<div class="content text-center" style=" background-color: #f2f2f2; padding-top: 10px; padding-bottom: 10px">
		<div class="row">
			<div class="col-sm-12">
				<label class="col-sm-1 control-label align-middle" for="inputSuccess">Class</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="inputSuccess" name="class">
				</div>
			</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<label class="col-sm-1 control-label align-middle" for="inputSuccess">Subject</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="inputSuccess" name="class">
				</div>
			</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<label class="col-sm-1 control-label align-middle" for="inputSuccess">Lesson</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="inputSuccess" name="class">
				</div>
			</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<label class="col-sm-1 control-label align-middle" for="inputSuccess">Chapter</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="inputSuccess" name="class">
				</div>
			</div>
	    </div>
	</div>

    <style type="text/css">
    	textarea {

    	}
    	.text0 {

    	}
    </style>

    <div class="content text-center" style=" background-color: #ccc; padding-top: 10px; padding-bottom: 10px">
    	<div class="row">
    		<textarea class="form-control" rows="10" id="comment"></textarea>
    	</div>
    </div>

    <div class="content text-center" style=" background-color: #ccc; padding-top: 10px; padding-bottom: 10px">
    	<div class="row">
    		<div class="col-sm-2">
    			<button class="btn btn-default" style="width: 100%">Back</button>
    		</div>
    		<div class="col-sm-6"></div>
    		<div class="col-sm-2">
    			<button class="btn btn-default" style="width: 100%" type="submit">Save Draw</button>
    		</div>
    		<div class="col-sm-2">
    			<button class="btn btn-primary" style="width: 100%" type="submit">Save</button>
    		</div>
    	</div>
    </div>





    

  </div>

{% endblock %}
