{% extends 'page/navigation.html' %}

{% block content %}

  	<style type="text/css">
  	  	.margin {margin-bottom: 45px;}

  		.navbar {
		    padding-top: 15px;
		    padding-bottom: 15px;
		    border: 0;
		    border-radius: 0;
		    margin-bottom: 0;
		    font-size: 12px;
		    letter-spacing: 5px;
		}
		.navbar-nav  li a:hover {
		    color: #ccc !important;
		}

		.class-box {
			color: #fff;
			background-color: #ccc;
			padding-top: 20px;
		    padding-bottom: 20px;
		}

  	</style>
	
	<div class="jumbotron text-center" style="color:#fff; background-color: #ccc;">
	  <h1 style="margin: 100px">Welcome To {{web_name}}</h1>
	</div>

	<div class="container" style="text-align: center;">
	  <div class="row">
	  	{% for i in class_title %}
	  		<div class="col-sm-2 class-box">
	      		<a style="font-size: 30px; color: #fff; text-decoration:none" href="/add-class">{{i}}</a>
	    	</div>
		{% endfor %}
	    
	    {% if user.is_authenticated %}
	    	<div class="col-sm-2 class-box" style="background-color: #999">
	      		<a style="font-size: 30px; color: #fff; text-decoration:none" href="/add-class">+</a>
	    	</div>
		{% endif %}
	    
	  </div>
	</div>
	
{% endblock %}
